<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="cyan">
    <center>
        {% block content %}

    <form action="DB1" method="POST">
            {% csrf_token %}
        Enter name:<input type="text" name="n1" required><br><br>
        Enter age:<input type="number" name="n2"  required><br><br>
        <input type="submit" value="ADD">

    </form>
    {% endblock %}
    <br>
    <a href= "{% url 'std'%}"><h1>Click</h1></a>
</center>
</body>
</html>